*{
	text-align: center;
	color: black;
	background-color: gray;
}

.todo-list{
	width: 70%;
	text-align: center;
	border: solid black;
	margin: auto;
}

@media only screen and (max-width: 600px) {
	.todo-list {
		background-color: red;
		color: yellow;
	}
}
/* when it reaches 600px then the listed features kick in */
